# SPDX-License-Identifier: GPL-2.0-only
menu "Timer Drivers"
	depends on GENERIC_CLOCKEVENTS
	depends on AW_BSP

config AW_TIMER
	tristate "Timer support for Allwinner SoCs"
	depends on HAS_IOMEM
	select CLKSRC_MMIO
	select TIMER_OF
	help
	  Enables support for the Sun4i timer.

endmenu
