// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2020 frank@allwinnertech.com
 */

/dts-v1/;
#include <dt-bindings/gpio/sun4i-gpio.h>

#include "sun50iw9.dtsi"

/{
	model = "sun50iw9";
	compatible = "allwinner,t507", "arm,sun50iw9p1";

	aliases {
		serial0 = &uart0;
		disp = &disp;
		lcd0 = &lcd0;
		pmu0 = &pmu0;
		standby_param = &standby_param;
		hdmi = &hdmi;
		spi0 = &spi0;
		spi1 = &spi1;
		twi0 = &twi0;
		twi1 = &twi1;
		twi2 = &twi2;
		twi3 = &twi3;
		twi4 = &twi4;
		twi5 = &twi5;
	};


	reg_usb1_vbus: usb1-vbus {
		compatible = "regulator-fixed";
		gpio = <&pio PE 19 GPIO_ACTIVE_HIGH>;
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-enable-ramp-delay = <1000>;
		enable-active-high;
	};

       led: led {
	  pinctrl-names = "default";
          pinctrl-0 = <&led_pe_pins>;
          status = "okay";
        };
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&uart0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart0_ph_pins>;
	pinctrl-1 = <&uart0_ph_sleep>;
	status = "okay";
};

&uart2 {
        pinctrl-names = "default", "sleep";
        pinctrl-0 = <&uart2_ph_pins>;
        pinctrl-1 = <&uart2_ph_sleep>;
        status = "okay";
};


&uart5 {
        pinctrl-names = "default", "sleep";
        pinctrl-0 = <&uart5_ph_pins>;
        pinctrl-1 = <&uart5_ph_sleep>;
        status = "okay";
};



&pio {
	sdc0_pins_a: sdc0@0 {
		allwinner,pins = "PF0", "PF1", "PF2",
				 "PF3", "PF4", "PF5";
		allwinner,function = "sdc0";
		allwinner,muxsel = <2>;
		allwinner,drive = <3>;
		allwinner,pull = <1>;
	};

	sdc2_pins_a: sdc2@0 {
		allwinner,pins = "PC1", "PC5", "PC6",
				 "PC8", "PC9", "PC10", "PC11",
				 "PC13", "PC14", "PC15", "PC16";
		allwinner,function = "sdc2";
		allwinner,muxsel = <3>;
		allwinner,drive = <3>;
		allwinner,pull = <1>;
	};

	sdc2_pins_c: sdc2@2 {
				allwinner,pins = "PC0";
				allwinner,function = "sdc2";
				allwinner,muxsel = <3>;
				allwinner,drive = <3>;
				allwinner,pull = <2>;
	};

	spi0_pins_a: spi0@0 {
		pins = "PC0", "PC2", "PC4", "PC15", "PC16";     /*CLK  MOSI  MISO WP  HOLD*/
		function = "spi0";
		muxsel = <4>;
		drive-strength = <10>;
	};

	spi0_pins_b: spi0@1 {
		pins = "PC3", "PC7";    /*CS0  CS1*/
		function = "spi0";
		muxsel = <4>;
		drive-strength = <10>;
		bias-pull-up;   /* only CS should be pulled up */
	};

	spi0_pins_c: spi0@2 {
		pins = "PC0", "PC2", "PC3", "PC4", "PC7", "PC15", "PC16";
		function = "gpio_in";
		muxsel = <0>;
		drive-strength = <10>;
	};

	spi1_pins_a: spi1@0 {
		pins = "PH6", "PH7", "PH8";     /*CLK  MOSI  MISO*/
		function = "spi1";
		muxsel = <4>;
		drive-strength = <10>;
	};

	spi1_pins_b: spi1@1 {
		pins = "PH5", "PH9";    /*CS0  CS1*/
		function = "spi1";
		muxsel = <4>;
		drive-strength = <10>;
		bias-pull-up;   /* only CS should be pulled up */
	};

	spi1_pins_c: spi1@2 {
		pins = "PH5", "PH6", "PH7", "PH8", "PH9";       /*CS0  CS1*/
		function = "gpio_in";
		muxsel = <0>;
		drive-strength = <10>;
	};

	gmac0_pins_a: gmac0@0 {
		pins = "PI0", "PI1", "PI2", "PI3",
			"PI4", "PI5", "PI7", "PI8",
			"PI9", "PI10", "PI11", "PI12",
			"PI13", "PI14", "PI15",
			"PI16";
		function = "emac0";
		drive-strength = <40>;
		bias-pull-up;
	};

	gmac0_pins_b: gmac0@1 {
		pins = "PI0", "PI1", "PI2", "PI3",
			"PI4", "PI5", "PI7",
			"PI8", "PI9", "PI10", "PI11",
			"PI12", "PI13", "PI14", "PI15",
			"PI16";
		function = "gpio_in";
		drive-strength = <40>;
	};

	gmac1_pins_a: gmac1@0 {
		pins = "PA0", "PA1", "PA2", "PA3",
			"PA4", "PA5", "PA6", "PA7",
			"PA8", "PA9";
		function = "gmac1";
		drive-strength = <10>;
		bias-pull-up;
	};

	gmac1_pins_b: gmac1@1 {
		pins = "PA0", "PA1", "PA2", "PA3",
			"PA4", "PA5", "PA6", "PA7",
			"PA8", "PA9";
		function = "gpio_in";
		drive-strength = <10>;
	};

	twi0_pins_a: twi0@0 {
		pins = "PA0", "PA1";
		function = "twi0";
		muxsel = <4>;
		drive-strength = <10>;
	};

	twi0_pins_b: twi0@1 {
		pins = "PA0", "PA1";
		function = "gpio_in";
		muxsel = <0>;
	};

	twi1_pins_a: twi1@0 {
		pins = "PI7", "PI8";
		function = "twi1";
		muxsel = <5>;
		drive-strength = <10>;
		allwinner,pull = <1>;
	};

	twi1_pins_b: twi1@1 {
		pins = "PI7", "PI8";
		function = "gpio_in";
		muxsel = <0>;
	};

	twi2_pins_a: twi2@0 {
		pins = "PE20", "PE21";
		function = "twi2";
		muxsel = <5>;
		drive-strength = <10>;
		allwinner,pull = <1>;
	};

	twi2_pins_b: twi2@1 {
		pins = "PE20", "PE21";
		function = "gpio_in";
		muxsel = <0>;
	};

	twi3_pins_a: twi3@0 {
		pins = "PA10", "PA11";
		function = "twi3";
		muxsel = <2>;
		drive-strength = <10>;
		allwinner,pull = <1>;
	};

	twi3_pins_b: twi3@1 {
		pins = "PA10", "PA11";
		function = "gpio_in";
		muxsel = <0>;
	};

	twi4_pins_a: twi4@0 {
		pins = "PG15", "PG16";
		function = "twi4";
		muxsel = <5>;
		drive-strength = <10>;
	};

	twi4_pins_b: twi4@0 {
		pins = "PG15", "PG16";
		function = "gpio_in";
		muxsel = <0>;
	};


        led_pe_pins: led_pe_pins {
                pins = "PE3", "PE0","PE20";
                function = "gpio_out";
                muxsel = <0>;
        };

        

	pwm0_pin_a: pwm0@0 {
		pins = "PD28";
		function = "pwm0";
		muxsel = <2>;
		drive-strength = <10>;
		bias-pull-up;
	};

	pwm0_pin_b: pwm0@1 {
		pins = "PD28";
		muxsel = <7>;
		function = "gpio_in";
	};

	clk_losc_pins_a: clk_losc@0 {
		allwinner,pins = "PG10";
		allwinner,function = "x32kfout";
		allwinner,muxsel = <3>;
		allwinner,drive = <2>;
		allwinner,pull = <1>;
	};

	uart1_pg_pins: uart1-ph-pins {
		pins = "PG6", "PG7", "PG8", "PG9";
		function = "uart1";
	};

	uart1_pg_sleep: uart1-ph-sleep {
		pins = "PG6", "PG7", "PG8", "PG9";
		function = "gpio_in";
	};


        uart2_ph_pins: uart2-ph-pins {
                pins = "PG15", "PG16";
                function = "uart2";
               };

        uart2_ph_sleep: uart2-ph-sleep {
                pins = "PG15", "PG16";
                function = "gpio_in";
             };

        uart5_ph_pins: uart5-ph-pins {
                pins = "PH2", "PH3";
                function = "uart5";
               };

        uart5_ph_sleep: uart5-ph-sleep {
                pins = "PH2", "PH3";
                function = "gpio_in";
             };



        spdif_pins_a: spdif@0 {
                pins = "PH4";   /* spdif out */
		function = "spdif";
		drive-strength = <20>;
		bias-disable;
        };

        spdif_pins_b: spdif_sleep@0 {
		pins = "PH4";
		function = "gpio_in";
                drive-strength = <20>;
                bias-disable;
	};

	ahub_daudio0_pins_a: ahub_daudio0@0 {
		pins = "PA6", "PA7", "PA8", "PA9";
		function = "i2s0";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio0_pins_b: ahub_daudio0_sleep@0 {
		pins = "PA6", "PA7", "PA8", "PA9";
		function = "gpio_in";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio2_pins_a: ahub_daudio2@0 {
		pins = "PG11", "PG12";
		function = "i2s2";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio2_pins_b: ahub_daudio2@1 {
		pins = "PG13";
		function = "i2s2_dout0";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio2_pins_c: ahub_daudio2@2 {
		pins = "PG14";
		function = "i2s2_din0";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio2_pins_d: ahub_daudio2_sleep@0 {
		pins = "PG11", "PG12", "PG13", "PG14";
		function = "gpio_in";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio3_pins_a: ahub_daudio3@0 {
		pins = "PH5", "PH6", "PH7";
		function = "i2s3";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio3_pins_b: ahub_daudio3@1 {
		pins = "PH8";
		function = "i2s3_dout0";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio3_pins_c: ahub_daudio3@2 {
		pins = "PH9";
		function = "i2s3_din0";
		drive-strength = <20>;
		bias-disable;
	};

	ahub_daudio3_pins_d: ahub_daudio3_sleep@0 {
		pins = "PH5", "PH6", "PH7", "PH8", "PH9";
		function = "gpio_in";
		drive-strength = <20>;
		bias-disable;
	};
};

&r_pio {
	s_twi0_pins_a: s_twi0@0 {
		pins = "PL0", "PL1";
		function = "s_twi0";
		drive-strength = <10>;
		muxsel = <3>;
		bias-pull-up;
	};

	s_twi0_pins_b: s_twi0@1 {
		pins = "PL0", "PL1";
		function = "gpio_in";
		muxsel = <0>;
	};
};

&cpu_trips{
	cpu_crit: cpu_crit@0 {
		temperature = <120000>;
		type = "critical";
		hysteresis = <0>;
	};
};

&gmac0 {
	phy-mode = "rgmii";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&gmac0_pins_a>;
	pinctrl-1 = <&gmac0_pins_b>;
	sunxi,phy-clk-type = <0>;
	tx-delay = <7>;
	rx-delay = <0>;
	gmac-power0-supply = <&reg_cldo3>;
	gmac-power1-supply;
	gmac-power2-supply;
	/*gmac-power1-supply = <&reg_dcdc6>;*/
	gmac-power0-vol = <3300000>;
	gmac-power1-vol;
	gmac-power2-vol;
	status = "okay";
};

&soc {
	card0_boot_para@2 {
		/* Avoid dtc compiling warnings. */
		reg = <0x0 0x2 0x0 0x0>;
		device_type = "card0_boot_para";
		card_ctrl = <0x0>;
		card_high_speed = <0x1>;
		card_line = <0x4>;
		pinctrl-0 = <&sdc0_pins_a>;
	};

	card2_boot_para@3 {
		/* Avoid dtc compiling warnings. */
		reg = <0x0 0x3 0x0 0x0>;
		device_type = "card2_boot_para";
		card_ctrl = <0x2>;
		card_high_speed = <0x1>;
		card_line = <0x8>;
		pinctrl-0 = <&sdc2_pins_a &sdc2_pins_c>;
		sdc_ex_dly_used = <0x2>;
		sdc_io_1v8 = <0x0>;
		sdc_type = "tm4";
	};

	clk_pll_video2: pll_video2 {
		#clock-cells = <0>;
		compatible = "allwinner,pll-clock";
		lock-mode = "new";
		assigned-clocks = <&clk_pll_video2>;
		/*assigned-clock-rates = <432000000>;*/
		clock-output-names = "pll_video2";
	};

	clk_pll_de: pll_de {
		#clock-cells = <0>;
		compatible = "allwinner,pll-clock";
		assigned-clocks = <&clk_pll_de>;
		assigned-clock-rates = <696000000>;
		lock-mode = "new";
		clock-output-names = "pll_de";
	};

	clk_de: de {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		assigned-clock-parents = <&clk_pll_de>;
		assigned-clock-rates = <696000000>;
		assigned-clocks = <&clk_de>;
		clock-output-names = "de";
	};

	clk_display_top: display_top {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		clock-output-names = "display_top";
	};

	clk_tcon_lcd: tcon_lcd {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		clock-output-names = "tcon_lcd";
	};

	clk_tcon_lcd1: tcon_lcd1 {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		clock-output-names = "tcon_lcd1";
	};
	clk_tcon_tv: tcon_tv {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		assigned-clock-parents = <&clk_pll_video2>;
		assigned-clocks = <&clk_tcon_tv>;
		clock-output-names = "tcon_tv";
	};
	clk_tcon_tv1: tcon_tv1 {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		clock-output-names = "tcon_tv1";
	};
	clk_lvds: lvds {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		clock-output-names = "lvds";
		assigned-clocks = <&clk_lvds>;
	};
	clk_hdmi: hdmi {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		assigned-clock-parents = <&clk_pll_video2>;
		assigned-clocks = <&clk_hdmi>;
		clock-output-names = "hdmi";
	};
	clk_hdmi_slow: hdmi_slow {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		assigned-clocks = <&clk_hdmi_slow>;
		clock-output-names = "hdmi_slow";
	};
	clk_hdmi_cec: hdmi_cec {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		assigned-clocks = <&clk_hdmi_cec>;
		clock-output-names = "hdmi_cec";
	};
	clk_hdmi_hdcp: hdmi_hdcp {
		#clock-cells = <0>;
		compatible = "allwinner,periph-clock";
		assigned-clock-parents = <&clk_pll_periph1>;
		assigned-clocks = <&clk_hdmi_hdcp>;
		clock-output-names = "hdmi_hdcp";
	};
	clk_pll_periph1: pll_periph1 {
		#clock-cells = <0>;
		compatible = "allwinner,pll-clock";
		assigned-clocks = <&clk_pll_periph1>;
		assigned-clock-rates = <600000000>;
		lock-mode = "new";
		clock-output-names = "pll_periph1";
	};

	auto_print@54321 {
		reg = <0x0 0x54321 0x0 0x0>;
		device_type = "auto_print";
		status = "disabled";
	};

	vind0:vind@6600800 {
		csi_top = <324000000>;
		status = "okay";

		csi_cci0:cci@6614000 {
			status = "disabled";
		};
		csi_cci1:cci@6614400 {
			status = "disabled";
		};
		actuator0:actuator@6614890 {
			device_type = "actuator0";
			actuator0_name = "ad5820_act";
			actuator0_slave = <0x18>;
			actuator0_af_pwdn = <>;
			actuator0_afvdd = "afvcc-csi";
			actuator0_afvdd_vol = <2800000>;
			status = "disabled";
		};
		flash0:flash@66148a0 {
			device_type = "flash0";
			flash0_type = <2>;
			flash0_en = <>;
			flash0_mode = <>;
			flash0_flvdd = "";
			flash0_flvdd_vol = <>;
			device_id = <0>;
			status = "disabled";
		};
		vinc0:vinc@6609000 {
			vinc0_csi_sel = <0>;
			vinc0_mipi_sel = <0>;
			vinc0_isp_sel = <0>;
			vinc0_isp_tx_ch = <0>;
			vinc0_rear_sensor_sel = <0>;
			vinc0_front_sensor_sel = <0>;
			vinc0_sensor_list = <0>;
			status = "okay";
		};
		vinc1:vinc@6609200 {
			vinc1_csi_sel = <0>;
			vinc1_mipi_sel = <0>;
			vinc1_isp_sel = <0>;
			vinc1_isp_tx_ch = <1>;
			vinc1_rear_sensor_sel = <0>;
			vinc1_front_sensor_sel = <0>;
			vinc1_sensor_list = <0>;
			status = "okay";
		};
		vinc2:vinc@6609400 {
			vinc2_csi_sel = <1>;
			vinc2_mipi_sel = <0xff>;
			vinc2_isp_sel = <1>;
			vinc2_isp_tx_ch = <0>;
			vinc2_rear_sensor_sel = <1>;
			vinc2_front_sensor_sel = <1>;
			vinc2_sensor_list = <0>;
			status = "okay";
		};
		vinc3:vinc@6609600 {
			vinc3_csi_sel = <1>;
			vinc3_mipi_sel = <0xff>;
			vinc3_isp_sel = <1>;
			vinc3_isp_tx_ch = <1>;
			vinc3_rear_sensor_sel = <1>;
			vinc3_front_sensor_sel = <1>;
			vinc3_sensor_list = <0>;
			status = "okay";
		};
		vinc4:vinc@6609800 {
			vinc4_csi_sel = <1>;
			vinc4_mipi_sel = <0xff>;
			vinc4_isp_sel = <1>;
			vinc4_isp_tx_ch = <2>;
			vinc4_rear_sensor_sel = <1>;
			vinc4_front_sensor_sel = <1>;
			vinc4_sensor_list = <0>;
			status = "okay";
		};
		vinc5:vinc@6609A00 {
			vinc5_csi_sel = <1>;
			vinc5_mipi_sel = <0xff>;
			vinc5_isp_sel = <1>;
			vinc5_isp_tx_ch = <3>;
			vinc5_rear_sensor_sel = <1>;
			vinc5_front_sensor_sel = <1>;
			vinc5_sensor_list = <0>;
			status = "okay";
		};
	};

	/* audio dirver module -> external codec */
	td100_audio:td100_audio {
		#sound-dai-cells = <0>;
		compatible		= "Allwinnertech,td100_audio";
		status			= "disabled";
	};

	car_reverse:car-reverse {
		compatible  = "allwinner,sunxi-car-reverse";
		tvd_id  = <0x2>;
		screen_width = <1280>;
		screen_height = <800>;
		rotation = <0x0>;
		source = <0x1>;
		oview = <0x0>;
		oview_type = <0x4>;
		td104_used = <0x0>;
		reverse_pin = <&pio PI 15 6 0 1 0>;
		status      = "disabled";
	};
};

&keyboard {
	key_cnt = <5>;
	key0 = <212 115>;
	key1 = <409 114>;
	key2 = <592 139>;
	key3 = <745 28>;
	key4 = <882 172>;
	wakeup-source;
	status = "okay";
};

&pwm0 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm0_pin_a>;
	pinctrl-1 = <&pwm0_pin_b>;
};

&gpadc {
	channel_num = <4>;
	channel_select = <1>;
	channel_data_select = <0>;
	channel_compare_select = <1>;
	channel_cld_select = <1>;
	channel_chd_select = <0>;
	channel0_compare_lowdata = <1700000>;
	channel0_compare_higdata = <1200000>;
	channel1_compare_lowdata = <460000>;
	channel1_compare_higdata = <1200000>;
	status = "disabled";
};

&spi0 {
	clock-frequency = <100000000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi0_pins_a &spi0_pins_b>;
	pinctrl-1 = <&spi0_pins_c>;
	spi_slave_mode = <0>;
	status = "disabled";
};

&spi1 {
	clock-frequency = <100000000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi1_pins_a &spi1_pins_b>;
	pinctrl-1 = <&spi1_pins_c>;
	spi_slave_mode = <0>;
	status = "disabled";
};

&drm {
	boot_disp = <0>;
	boot_fb0 = "";

	//connector0_output_type = <3>;
	//connector0_output_mode = "CEA-016-1920x1080";
	connector0_output_type = <1>;
	connector0_output_mode = "";

	connector1_output_type = <0>;
	connector1_output_mode = "";
};

&disp {
	disp_init_enable         = <1>;
	disp_mode                = <0>;

	screen0_output_type      = <1>;
	screen0_output_mode      = <4>;
	screen0_output_format    = <0>;
	screen0_output_bits      = <0>;
	screen0_output_eotf      = <4>;
	screen0_output_cs        = <257>;
	screen0_output_dvi_hdmi  = <2>;
	screen0_output_range     = <2>;
	screen0_output_scan      = <0>;
	screen0_output_aspect_ratio = <8>;

	screen1_output_type      = <1>;
	screen1_output_mode      = <4>;
	screen1_output_format    = <1>;
	screen1_output_bits      = <0>;
	screen1_output_eotf      = <4>;
	screen1_output_cs        = <257>;
	screen1_output_dvi_hdmi  = <2>;
	screen1_output_range     = <2>;
	screen1_output_scan      = <0>;
	screen1_output_aspect_ratio = <8>;
	dev0_output_type         = <1>;
	dev0_output_mode         = <4>;
	dev0_screen_id           = <0>;
	dev0_do_hpd              = <0>;

	dev1_output_type         = <1>;
	dev1_output_mode         = <4>;
	dev1_screen_id           = <1>;
	dev1_do_hpd              = <1>;

	def_output_dev           = <0>;
	hdmi_mode_check          = <1>;

	fb0_format               = <0>;
	fb0_width                = <1280>;
	fb0_height               = <800>;

	fb1_format               = <0>;
	fb1_width                = <0>;
	fb1_height               = <0>;

	chn_cfg_mode             = <1>;

	disp_para_zone           = <1>;

	/* VCC-LVDS and VCC-HDMI */
	bldo1-supply = <&reg_bldo1>;
	/* VCC-TV */
	cldo4-supply = <&reg_cldo4>;
};

&hdmi {
	hdmi_used = <1>;
	bldo1-supply = <&reg_bldo1>;
	hdmi_power0 = "bldo1";
	hdmi_power_cnt = <1>;
	hdmi_hdcp_enable = <1>;
	hdmi_hdcp22_enable = <1>;
	hdmi_cts_compatibility = <0>;
	hdmi_cec_support = <1>;
	hdmi_cec_super_standby = <0>;
	hdmi_skip_bootedid = <1>;

	ddc_en_io_ctrl = <0>;
	power_io_ctrl = <0>;
};

&tv0 {
	interface       = <1>;
	dac_type0       = <0>;
	dac_src0        = <0>;
	cldo4-supply    = <&reg_cldo4>;
	tv_power        = "cldo4";
	status =  "okay";
};

&lcd0 {
	lcd_used            	= <1>;

	lcd_driver_name     	= "bp101wx1";
	lcd_backlight       	= <0>;
	lcd_if              	= <3>;

	lcd_x               	= <800>;
	lcd_y               	= <1280>;
	lcd_width           	= <94>;
	lcd_height          	= <150>;
	lcd_dclk_freq       	= <72>;

	lcd_pwm_used        	= <1>;
	lcd_pwm_ch          	= <0>;
	lcd_pwm_freq        	= <50000>;
	lcd_pwm_pol         	= <1>;
	lcd_pwm_max_limit   	= <255>;

	lcd_hbp             	= <48>;
	lcd_ht              	= <920>;
	lcd_hspw            	= <24>;
	lcd_vbp             	= <12>;
	lcd_vt              	= <1304>;
	lcd_vspw            	= <2>;

	lcd_lvds_if         	= <0>;
	lcd_lvds_colordepth 	= <0>;
	lcd_lvds_clk_polarity	= <1>;
	lcd_lvds_io_polarity	= <1>;
	lcd_lvds_mode       	= <0>;
	lcd_frm             	= <0>;
	lcd_hv_clk_phase    	= <0>;
	lcd_hv_sync_polarity	= <0>;
	lcd_gamma_en        	= <0>;
	lcd_bright_curve_en 	= <0>;
	lcd_cmap_en         	= <0>;
	lcd_fsync_en        	= <0>;
	lcd_fsync_act_time  	= <1000>;
	lcd_fsync_dis_time  	= <1000>;
	lcd_fsync_pol       	= <0>;

	deu_mode            	= <0>;
	lcdgamma4iep        	= <22>;
	smart_color         	= <90>;

	lcd_pin_power = "<&reg_dcdc6>";

	lcd_power = <&reg_dcdc6>;
	pinctrl-0 = <&lvds0_pins_a>;
	pinctrl-1 = <&lvds0_pins_b>;

};

&pio{
	lvds0_pins_a: lvds0@0 {
		pins = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD8", "PD9", "PD6", "PD7";
		function = "lvds0";
		drive-strength = <40>;
	};
	lvds0_pins_b: lvds0@1 {
		pins = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD8", "PD9", "PD6", "PD7";
		function = "gpio_in";
	};

	rgb24_pins_a: rgb24@0 {
		pins = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9", \
		"PD10", "PD11", "PD12", "PD13", "PD14", "PD15", "PD16", "PD17", "PD18", "PD19", \
		"PD20", "PD21", "PD22", "PD23", "PD24", "PD25", "PD26", "PD27";
		function = "lcd0";
		drive-strength = <40>;
	};

	rgb24_pins_b: rgb24@1 {
		pins = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9", \
		"PD10", "PD11", "PD12", "PD13", "PD14", "PD15", "PD16", "PD17", "PD18", "PD19", \
		"PD20", "PD21", "PD22", "PD23", "PD24", "PD25", "PD26", "PD27";
		allwinner,pname = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9", \
		"PD10", "PD11", "PD12", "PD13", "PD14", "PD15", "PD16", "PD17", "PD18", "PD19", \
		"PD20", "PD21", "PD22", "PD23", "PD24", "PD25", "PD26", "PD27";
		function = "gpio_in";
	};

};

&gpu {
	gpu_idle = <0>;
	dvfs_status = <1>;
	independent_power = <1>;
	operating-points = <
		/* KHz   uV */
		648000 960000
		600000 900000
		552000 900000
		504000 900000
		456000 900000
		420000 900000
	>;
	gpu-supply = <&reg_dcdc4>;
};

&twi0 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi0_pins_a>;
	pinctrl-1 = <&twi0_pins_b>;
	pinctrl-names = "default", "sleep";
	twi-supply = <&reg_dcdc1>;
	status = "okay";
	ctp {
		compatible = "allwinner,goodix";
		reg = <0x14>;
		device_type = "ctp";
		status = "disabled";
		ctp_twi_id = <0x0>;
		ctp_twi_addr = <0x5d>;
		ctp_screen_max_x = <0x500>;
		ctp_screen_max_y = <0x320>;
		ctp_revert_x_flag = <0x0>;
		ctp_revert_y_flag = <0x0>;
		ctp_exchange_x_y_flag = <0x0>;
		ctp_int_port = <&pio PA 4 GPIO_ACTIVE_LOW>;
		ctp_wakeup = <&pio PA 5 GPIO_ACTIVE_LOW>;
		ctp-supply = <&reg_dcdc1>;
		ctp_power_ldo_vol = <3300>;
	};
};

&twi1 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi1_pins_a>;
	pinctrl-1 = <&twi1_pins_b>;
	twi-supply = <&reg_cldo3>;
	pinctrl-names = "default", "sleep";
	twi_drv_used = <1>;
	status = "disabled";
};

&twi2 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi2_pins_a>;
	pinctrl-1 = <&twi2_pins_b>;
	twi-supply = <&reg_dcdc1>;
	pinctrl-names = "default", "sleep";
	status = "disabled";
};

&twi3 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi3_pins_a>;
	pinctrl-1 = <&twi3_pins_b>;
	pinctrl-names = "default", "sleep";
	twi-supply = <&reg_dcdc1>;
	status = "disabled";
	ac107: ac107@36 {
		#sound-dai-cells	= <0>;
		compatible		= "Allwinnertech,ac107_0";
		gpio-reset		= "null";
		reg			= <0x36>;
		status			= "disabled";
	};
};

&twi4 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi4_pins_a>;
	pinctrl-1 = <&twi4_pins_b>;
	twi-supply = <&reg_cldo2>;
	pinctrl-names = "default", "sleep";
	status = "disabled";
};

&twi5 {
	clock-frequency = <400000>;
	pinctrl-0 = <&s_twi0_pins_a>;
	pinctrl-1 = <&s_twi0_pins_b>;
	pinctrl-names = "default", "sleep";
	no_suspend = <1>;
	status = "okay";

	pmu0: pmu@36{
		compatible = "x-powers,axp858";
		reg = <0x36>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <1>;

		wakeup-source;

		powerkey0: powerkey@0{
			status = "okay";
			compatible = "x-powers,axp2101-pek";
			pmu_powkey_off_time = <6000>;
			pmu_powkey_off_func = <0>;
			pmu_powkey_off_en = <1>;
			pmu_powkey_long_time = <1500>;
			pmu_powkey_on_time = <1000>;
			wakeup_rising;
			wakeup_falling;
		};

		standby_param: standby_param {
			vcc-io = <0x1>;
			vdd-cpua = <0x2>;
			vdd-sys = <0x4>;
			vdd-res1 = <0x40>;
			vcc-pll = <0x80>;
		};

		regulator0: regulators{
			reg_dcdc1: dcdc1 {
				regulator-name = "axp858-dcdc1";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <3400000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_dcdc2: dcdc2 {
				regulator-name = "axp858-dcdc2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
			};

			reg_dcdc3: dcdc3 {
				regulator-name = "axp858-dcdc3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_dcdc4: dcdc4 {
				regulator-name = "axp858-dcdc4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-enable-ramp-delay = <1000>;
			};

			reg_dcdc5: dcdc5 {
				regulator-name = "axp858-dcdc5";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1840000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_dcdc6: dcdc6 {
				regulator-name = "axp858-dcdc6";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3400000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_aldo1: aldo1 {
				regulator-name = "axp858-aldo1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_aldo2: aldo2 {
				regulator-name = "axp858-aldo2";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_aldo3: aldo3 {
				regulator-name = "axp858-aldo3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
			};

			reg_aldo4: aldo4 {
				regulator-name = "axp858-aldo4";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_aldo5: aldo5 {
				regulator-name = "axp858-aldo5";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
			};

			reg_bldo1: bldo1 {
				regulator-name = "axp858-bldo1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_bldo2: bldo2 {
				regulator-name = "axp858-bldo2";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
			};

			reg_bldo3: bldo3 {
				regulator-name = "axp858-bldo3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
			};

			reg_bldo4: bldo4 {
				regulator-name = "axp858-bldo4";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1800000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_bldo5: bldo5 {
				regulator-name = "axp858-bldo5";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
			};

			reg_cldo1: cldo1 {
				regulator-name = "axp858-cldo1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_cldo2: cldo2 {
				regulator-name = "axp858-cldo2";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3400000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_cldo3: cldo3 {
				regulator-name = "axp858-cldo3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_cldo4: cldo4 {
				regulator-name = "axp858-cldo4";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <4200000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
			};

			reg_cpusldo: cpusldo {
				regulator-name = "axp858-cpusldo";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1400000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
			};

			reg_swout: swout {
				regulator-name = "axp858-swout";
			};
		};

		virtual-dcdc1 {
			compatible = "xpower-vregulator,dcdc1";
			dcdc1-supply = <&reg_dcdc1>;
		};

		virtual-dcdc2 {
			compatible = "xpower-vregulator,dcdc2";
			dcdc2-supply = <&reg_dcdc2>;
		};

		virtual-dcdc3 {
			compatible = "xpower-vregulator,dcdc3";
			dcdc3-supply = <&reg_dcdc3>;
		};

		virtual-dcdc4 {
			compatible = "xpower-vregulator,dcdc4";
			dcdc4-supply = <&reg_dcdc4>;
		};

		virtual-dcdc5 {
			compatible = "xpower-vregulator,dcdc5";
			dcdc5-supply = <&reg_dcdc5>;
		};

		virtual-dcdc6 {
			compatible = "xpower-vregulator,dcdc6";
			dcdc6-supply = <&reg_dcdc6>;
		};

		virtual-aldo1 {
			compatible = "xpower-vregulator,aldo1";
			aldo1-supply = <&reg_aldo1>;
		};

		virtual-aldo2 {
			compatible = "xpower-vregulator,aldo2";
			aldo2-supply = <&reg_aldo2>;
		};

		virtual-aldo3 {
			compatible = "xpower-vregulator,aldo3";
			aldo3-supply = <&reg_aldo3>;
		};

		virtual-aldo4 {
			compatible = "xpower-vregulator,aldo4";
			aldo4-supply = <&reg_aldo4>;
		};

		virtual-aldo5 {
			compatible = "xpower-vregulator,aldo5";
			aldo5-supply = <&reg_aldo5>;
		};

		virtual-bldo1 {
			compatible = "xpower-vregulator,bldo1";
			bldo1-supply = <&reg_bldo1>;
		};

		virtual-bldo2 {
			compatible = "xpower-vregulator,bldo2";
			bldo2-supply = <&reg_bldo2>;
		};

		virtual-bldo3 {
			compatible = "xpower-vregulator,bldo3";
			bldo3-supply = <&reg_bldo3>;
		};

		virtual-bldo4 {
			compatible = "xpower-vregulator,bldo4";
			bldo4-supply = <&reg_bldo4>;
		};

		virtual-bldo5 {
			compatible = "xpower-vregulator,bldo5";
			bldo5-supply = <&reg_bldo5>;
		};

		virtual-cldo1 {
			compatible = "xpower-vregulator,cldo1";
			cldo1-supply = <&reg_cldo1>;
		};

		virtual-cldo2 {
			compatible = "xpower-vregulator,cldo2";
			cldo2-supply = <&reg_cldo2>;
		};

		virtual-cldo3 {
			compatible = "xpower-vregulator,cldo3";
			cldo3-supply = <&reg_cldo3>;
		};

		virtual-cldo4 {
			compatible = "xpower-vregulator,cldo4";
			cldo4-supply = <&reg_cldo4>;
		};

		virtual-cpusldo {
			compatible = "xpower-vregulator,cpusldo";
			cpusldo-supply = <&reg_cpusldo>;
		};

		virtual-swout {
			compatible = "xpower-vregulator,swout";
			swout-supply = <&reg_swout>;
		};

	};
};

&sdc2 {
        pinctrl-0 = <&sdc2_pins_a &sdc2_pins_c>;
        non-removable;
        bus-width = <8>;
        mmc-ddr-1_8v;
        mmc-hs200-1_8v;
        mmc-hs400-1_8v;
        no-sdio;
        no-sd;
        cap-mmc-highspeed;
        max-frequency = <100000000>;
        vmmc-supply = <&reg_aldo1>;
        vqmmc-supply = <&reg_dcdc1>;
        status = "disabled";
};

&sdc0 {
        pinctrl-0 = <&sdc0_pins_a>;
        bus-width = <4>;
        cd-gpios = <&pio PF 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        cd-used-24M;
        /*non-removable;*/
        /*broken-cd;*/
        /*cd-inverted*/
        /*data3-detect;*/
        cap-sd-highspeed;
        sd-uhs-sdr50;
        sd-uhs-ddr50;
        sd-uhs-sdr104;
        no-sdio;
        no-mmc;
        sunxi-power-save-mode;
        sunxi-signal-vol-sw-without-pmu;
        /*sunxi-dis-signal-vol-sw;*/
        max-frequency = <150000000>;
        vmmc-supply = <&reg_dcdc1>;
        vqmmc33sw-supply = <&reg_dcdc1>;
        vdmmc33sw-supply = <&reg_dcdc1>;
        vqmmc18sw-supply = <&reg_aldo2>;
        vdmmc18sw-supply = <&reg_aldo2>;
        status = "okay";
};

&usbc0 {
	device_type = "usbc0";
	usb_port_type = <0x0>;
	usb_detect_type = <0x1>;
	usb_detect_mode = <0x0>;
	usb_id_gpio = <&pio PE 18 GPIO_ACTIVE_HIGH>;
	enable-active-high;
	usb_det_vbus_gpio = <&pio PE 12 GPIO_ACTIVE_HIGH>;
	enable-active-high;
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0x0>;
	usb_luns = <0x3>;
	usb_serial_unique = <0>;
	usb_serial_number = "20080411";
	status = "okay";
};

&ehci0 {
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&ohci0 {
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&usbc1 {
	device_type = "usbc1";
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0x0>;
	status = "okay";
};

&ehci1 {
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&ohci1 {
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&usbc2 {
	device_type = "usbc2";
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0x0>;
	wakeup-source;
	status = "okay";
};


&ehci2 {
        drvvbus-supply = <&reg_usb1_vbus>;
        status = "okay";
};

&ohci2 {
        drvvbus-supply = <&reg_usb1_vbus>;
        status = "okay";
};

&ehci3 {
        drvvbus-supply = <&reg_usb1_vbus>;
        status = "okay";
};

&ohci3 {
        drvvbus-supply = <&reg_usb1_vbus>;
        status = "okay";
};





&usbc3 {
	device_type = "usbc3";
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0x0>;
	status = "okay";
};


&sdc1 {
	bus-width = <4>;
	no-mmc;
	no-sd;
	cap-sd-highspeed;
	/*sd-uhs-sdr12*/
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-ddr50;
	sd-uhs-sdr104;
	/*sunxi-power-save-mode;*/
	/*sunxi-dis-signal-vol-sw;*/
	cap-sdio-irq;
	keep-power-in-suspend;
	ignore-pm-notify;
	max-frequency = <150000000>;
	/*vmmc-supply = <&reg_dldo1>;*/
	status = "okay";
};

&uart1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart1_pg_pins>;
	pinctrl-1 = <&uart1_pg_sleep>;
	device_type = "uart1";
	status = "okay";
};

&rfkill {
	compatible = "allwinner,sunxi-rfkill";
	chip_en;
	power_en;
	pinctrl-0     = <&clk_losc_pins_a>;
	pinctrl-names = "default";
	status = "okay";

	/* wlan session */
	wlan {
		compatible    = "allwinner,sunxi-wlan";
		clocks        = <&rtc_ccu CLK_OSC32K_OUT>;
		clock-names   = "osc32k-out";
		wlan_power    = "axp858-dcdc6";
		wlan_io_regulator = "axp858-cldo3";
		wlan_power_vol= <3300000>;
		wlan_busnum   = <0x1>;
		wlan_regon    = <&pio PE 17 GPIO_ACTIVE_HIGH>;
		wlan_hostwake = <&pio PE 16 GPIO_ACTIVE_HIGH>;
		wakeup-source;
	};

	/* bt session */
	bt {
		compatible    = "allwinner,sunxi-bt";
		clocks        = <&rtc_ccu CLK_OSC32K_OUT>;
		clock-names   = "osc32k-out";
		bt_power      = "axp858-dcdc1";
		bt_io_regulator = "axp858-cldo2";
		/*bt_power_vol  = <3300000>; */
		bt_rst_n      = <&pio PE 8 GPIO_ACTIVE_LOW>;
	};
};

&addr_mgt {
	compatible     = "allwinner,sunxi-addr_mgt";
	type_addr_wifi = <0x0>;
	type_addr_bt   = <0x0>;
	type_addr_eth  = <0x0>;
	status         = "okay";
};

&btlpm {
	compatible  = "allwinner,sunxi-btlpm";
	uart_index  = <0x1>;
	bt_wake     = <&pio PE 7 GPIO_ACTIVE_HIGH>;
	bt_hostwake = <&pio PE 6 GPIO_ACTIVE_HIGH>;
	wakeup-source;
	status      = "okay";
};

/* audio driver adapter -> harmony ADM */
/* audio dirver module -> audio codec */
&codec {
	lineout-vol	= <31>;
	avcc-supply	= <&reg_aldo2>;
	status		= "okay";
};

/* audio dirver module -> audio hub */
&ahub {
	apb-num		= <0>;
	tdm-num		= <0>;
	tx-pin		= <0>;
	rx-pin		= <0>;
	/*pinctrl-used;
	pinctrl-names	= "default","sleep";
	pinctrl-0	= <&ahub_daudio0_pins_a>;
	pinctrl-1	= <&ahub_daudio0_pins_b>;*/
	status		= "okay";
};

/*------------------------------------------------------------------------------
&codec {
	lineout-vol		= <31>;
	ramp-en;
	ramp-time-up		= <5>;
	ramp-time-down		= <5>;
	tx-hub-en;
	status		= "okay";
};

&codec_plat {
	status		= "okay";
};

&codec_mach {
	status		= "okay";
};

&spdif_plat {
	pinctrl-used;
	pinctrl-names	= "default","sleep";
	pinctrl-0	= <&spdif_pins_a>;
	pinctrl-1	= <&spdif_pins_b>;
	tx-hub-en;
	status		= "okay";
};

&spdif_mach {
	status		= "okay";
};

&ahub_dam_plat {
	status		= "okay";
};

&ahub_dam_mach {
	status		= "okay";
};

&ahub0_plat {
	tdm-num		= <0>;
	tx-pin		= <0>;
	rx-pin		= <0>;
	status		= "okay";
};

&ahub1_plat {
	tdm-num		= <1>;
	tx-pin		= <0>;
	rx-pin		= <0>;
	dai-type	= "hdmi";
	status		= "okay";
};

&ahub2_plat {
	tdm-num		= <2>;
	tx-pin		= <0>;
	rx-pin		= <0>;
	pinctrl-used;
	pinctrl-names	= "default","sleep";
	pinctrl-0	= <&ahub_daudio2_pins_a &ahub_daudio2_pins_b &ahub_daudio2_pins_c>;
	pinctrl-1	= <&ahub_daudio2_pins_d>;
	status		= "okay";
};

&ahub3_plat {
	tdm-num		= <3>;
	tx-pin		= <0>;
	rx-pin		= <0>;
	pinctrl-used;
	pinctrl-names	= "default","sleep";
	pinctrl-0	= <&ahub_daudio3_pins_a &ahub_daudio3_pins_b &ahub_daudio3_pins_c>;
	pinctrl-1	= <&ahub_daudio3_pins_d>;
	status		= "disabled";
};

&ahub0_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&ahub0_cpu>;
	soundcard-mach,bitclock-master	= <&ahub0_cpu>;
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	soundcard-mach,capture-only;
	status				= "okay";
	ahub0_cpu: soundcard-mach,cpu {
		sound-dai		= <&ahub0_plat>;
		soundcard-mach,pll-fs	= <4>;
		soundcard-mach,mclk-fs	= <1>;
		soundcard-mach,mclk-fp;
	};
        ahub0_codec: soundcard-mach,codec {
		sound-dai		= <&ac107>;
		soundcard-mach,pll-fs	= <1>;
	};
};

&ahub1_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&ahub1_cpu>;
	soundcard-mach,bitclock-master	= <&ahub1_cpu>;
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	status				= "okay";
	ahub1_cpu: soundcard-mach,cpu {
		sound-dai		= <&ahub1_plat>;
		soundcard-mach,pll-fs	= <4>;
		soundcard-mach,mclk-fs	= <0>;
	};
	ahub1_codec: soundcard-mach,codec {
	};
};

&ahub2_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&ahub2_cpu>;
	soundcard-mach,bitclock-master	= <&ahub2_cpu>;
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	status				= "okay";
	ahub2_cpu: soundcard-mach,cpu {
		sound-dai		= <&ahub2_plat>;
		soundcard-mach,pll-fs	= <4>;
		soundcard-mach,mclk-fs	= <256>;
	};
	ahub2_codec: soundcard-mach,codec {
	};
};

&ahub3_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&ahub3_cpu>;
	soundcard-mach,bitclock-master	= <&ahub3_cpu>;
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	status				= "disabled";
	ahub3_cpu: soundcard-mach,cpu {
		sound-dai		= <&ahub3_plat>;
		soundcard-mach,pll-fs	= <4>;
		soundcard-mach,mclk-fs	= <256>;
	};
	ahub3_codec: soundcard-mach,codec {
	};
};
------------------------------------------------------------------------------*/

